@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

/* shared style */

* {
    font-family: 'Mulish', sans-serif;
}

.primary-text-header {
    color: #131318;
    font-size: 2.6rem;
    font-weight: 800;
}

.primary-text-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.primary-btn {
    border-radius: 8px;
    width: 10.8rem;
    height: 3.25rem;
    background: #FF5400;

}



main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px dashed red; */
}

/* 1 */
/* nav section */


#nav {
    display: flex;
    /* border: 2px dashed black; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

}

#logo {
    width: 50%;
    display: flex;
}

#logo img {
    width: 3rem;
    height: 3rem;
    margin-top: 1.2rem;
    padding: 0 10px;
}

#nav-items {
    width: 50%;
    /* border: 2px dashed red; */
    text-align: center;
}

#nav-items a {
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    padding: 7px;
}






/* 2 */
/* explore section */
#explore-section {
    /* border: 2px dashed black; */
    position: relative;
    text-align: center;
    margin-top: 3rem;

}


#explore-section>img {
    width: 100%;
    border-radius: 1rem;
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

#hero-section-content {
    position: absolute;
    top: 13%;
    left: 22%;
}

.frame {
    position: absolute;
    bottom: 7%;
    right: 51%;
}

.when-svg {
    position: absolute;
    top: 85%;
    right: 26%;
}

#find-section {
    display: flex;
    gap: 1.6rem;
    margin-top: 2rem;
}

#find-section input {
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
    border: 0;
    margin: 10px;

}

#find-section .primary-btn {
    margin-top: 10px;
    padding: 16px;
    border: 0;
}

/* 3 */
#popular-section {
    display: flex;
    /* border: 2px dashed black; */
    margin-top: 100px;
}

.popular-text-section {
    width: 50%;
    padding: 30px;
}

.popular-image-section {
    width: 50%;
    padding: 2rem;
    text-align: center;
}

/* 4 */

#destination-section {
    margin-top: 100px;
}

#destination-text-section {
    width: 100%;
    text-align: center;
}

#destination-img-section {
    width: 100%;
}

#destination-img-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#destination-img-section>div {
    padding: 5px;
    position: relative;
}

p.places {
    position: absolute;
    color: white;
    top: 38%;
    left: 40%;
    /*  */
    font-size: 28px;
    font-weight: 800;
}

/* 5 */
#choose-us-text {
    width: 100%;
}

.primary-text-header {
    text-align: center;
}

#choose-us-text {
    text-align: center;
}

#choose-us-main-content-one {
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 40px;
}

#choose-us-main-content-two {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

#choose_us_hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 25px;
}

#choose_us_world {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 25px;
}

#best_price_guarantee {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 25px;
}

/* 6 */



/* 7 */


/* unique section*/


.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
    padding: 30px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
}

.grid-item:hover img {
    transform: scale(1.2);
}

.text-container {
    grid-column: span 3;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* 8 */
#newsletter-section {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.newsletter-text-container {
    background: #FFF;
    border-radius: 16px;
    padding: 30px;
    width: 50%;
}

.newsletter-text-container input {
    padding: 10px 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    width: 100%;
    height: 52px;
}

.newsletter-text-container .primary-btn {
    width: 100%;
    border: 0;
}

.newsletter-image-container {
    width: 50%;
    padding: 30px;
}

.newsletter-image-container img {
    width: 100%;
}



/* footer section */
#footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
}

.logo {
    display: flex;
    justify-content: center;
}

#footer-line {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(19, 19, 24, 0.10);
    width: 800px;
}


#footer .logo {
    margin-top: 40px;
}

#footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* resposive media query */

@media screen and (max-width:600px) {

    #explore-section{
        display: block;
    }
    #nav {
        flex-direction: column;


    }
    #logo{
        width: 100%;
    }
    .popular-text-section{
        width: 100%;
    }

    #popular-section {
        flex-direction: column;
        width: 100%;
    }
    
    .popular-image-section > img:nth-child(1){
        width:32vh ;
        padding: 0;
    }

    #choose-us-main-content-one {
        flex-direction: column;
    }

    #choose-us-main-content-two {
        width: 100%;
        margin-top: 20px;
    }

    #newsletter-section {
        flex-direction: column;
    }

    .newsletter-text-container {
        width: 100%;
    }

    .newsletter-image-container {
        width: 100%;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color:rgba(233, 68, 68, 0.05);
    }
    #hero-section-content{
        display: none;
    }



}